<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resultado da Enquete</title>
        <style>
            h1 {
                text-align: center;
            }
            ol {
                list-style-type: none;
                margin-top: 5em;
                margin-left: 1em;
            }
            li {
                margin-bottom: 2em;
            }

        </style>
    </head>
    <body>
        <header>
            <h1>Resultado da Enquete</h1>
        </header>
        <main>
            <ol>
                {% for alternativa in resultado %}
                <li>{{ alternativa.nome }}: {{ alternativa.votos }}</li>
                {% endfor %}
            </ol>
        </main>
    </body>
</html>